@font-face {
  /* Tipografia del Logo */
  font-family: "Jersey-10";
  src: url("/Fonts/Jersey10-Regular.ttf");
}

@font-face {
  /* Tipografia para Titulos */
  font-family: "Pixelify-Sans";
  src: url("/Fonts/PixelifySans-VariableFont_wght.ttf");
}

@font-face {
  /* Tipografia para Subtitulos */
  font-family: "VT323";
  src: url("/Fonts/VT323-Regular.ttf");
}

@font-face {
  /* Tipografia para Parrafos */
  font-family: "Handjet";
  src: url("/Fonts/Handjet-VariableFont_wght.ttf");
}

:root{
  --verde-pixplore: rgb(138, 229, 89);
  --gris-pixplore: rgb(38, 38, 38);
  --gris-oscuro-pixplore: rgb(30, 30, 30);
  --negro-pixplore: rgb(20, 20, 20);
  --gris-darkmode: rgb(104, 104, 104);
  --gris-lightmode: rgb(234, 234, 234);
}

/* Index.html */
#root {
  width: 100vw;
  height: 100vh;
}

body{
  background-color: var(--gris-pixplore);
  overflow: hidden;
}

/* Navegador */

#idNavPixplore {
    background-color: var(--negro-pixplore);
    padding-block: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#idNavPixplore img {
    width: 170px;
}

#idNavPixplore a {
    font-family: "Pixelify-Sans";
    color: white;
    font-size: 20px;
}

#idNavPixplore .nav-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

#idNavPixplore .nav-right:last-child {
    margin-left: 10px;
    margin-right: 20px;
}

#idNavPixplore a:hover {
    color: var(--verde-pixplore);
}

#idNavPixplore .active {
    background-color: var(--verde-pixplore);
    color: var(--negro-pixplore);
}

#idNavPixplore a.active:hover {
    color: var(--negro-pixplore);
}


/* Sección de Tabs */

.cuerpo h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Jersey-10";
    font-size: 60px;
    color: var(--verde-pixplore);
}

.tabs-container {
    background-color: var(--gris-oscuro-pixplore);
    text-align: center; 
}

#adminTabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 3px solid var(--verde-pixplore);
    font-family: "Pixelify-Sans";
    font-size: 18px;
}
  
#adminTabs .nav-link {
    color: white;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding-inline: 16px;
    padding-block: 8px;
    transition: 200ms ease-in-out;
}

#adminTabs .nav-link:hover {
    color: var(--verde-pixplore);
}

#adminTabs .nav-link.active {
    background-color: var(--verde-pixplore);
    border-radius: 0;
    color: var(--negro-pixplore);
    border: none;
}

#adminTabs .nav-link.active:hover {
    color: var(--negro-pixplore);
}

.tab-content {
    padding-inline: 30px;
    padding-block: 20px;
}

.tab-categorias{
    overflow-x: hidden !important;
    width: 100%;
}

.tab-content #idTabUsuarios{
    max-height: 55vh;
}

.cate-fandom,
.cate-original{
    max-height: 45vh;
}

.tab-content #idTabUsuarios,
.cate-fandom,
.cate-original{
    overflow-y: auto;
    overflow-x: hidden;
}

/* Títulos dentro de las pestañas */
.tab-subtitulo{
  display: flex;
  justify-content: center;
}

.tab-content h2 {
    font-family: "VT323";
    font-size: 35px;
    color: white;
    margin-bottom: 15px;
}

.boton-pixel-corners,
.boton-pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px);
  position: relative;
}
.boton-pixel-corners {
  border: 3px solid transparent;
}
.boton-pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.boton-pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(3px 6px,
    6px 6px,
    6px 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 3px),
    6px calc(100% - 3px),
    6px calc(100% - 6px),
    3px calc(100% - 6px));
}
.boton-pixel-corners::after,
.boton-pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px,
    0px 50%,
    3px 50%,
    3px 6px,
    6px 6px,
    6px 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 3px),
    6px calc(100% - 3px),
    6px calc(100% - 6px),
    3px calc(100% - 6px),
    3px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--gris-darkmode);
  display: block;
  pointer-events: none;
}
.boton-pixel-corners::after {
  margin: -3px;
}

/* Estilo de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.table th {
    background-color: var(--verde-pixplore);
    color: var(--negro-pixplore);
    padding: 10px;
    text-align: center;
    font-family: "Pixelify-Sans";
    font-size: 18px;
}

.table td {
    padding: 10px;
    border: 1px solid var(--gris-lightmode);
    border-right: none;
    font-family: "Pixelify-Sans";
    font-size: 16px;
}

.pixel-corners {
    clip-path: polygon(
    0px calc(100% - 4px),
    4px calc(100% - 4px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 4px,
    0px 4px
    );
}

/* Botones dentro de las tablas y listas */
.btn-warning, .btn-danger, .btn-danger2 {
    font-family: "Pixelify-Sans";
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s ease;
    border: none;
}

.btn-warning {
    background-color: var(--verde-pixplore);
}

.btn-warning:hover {
    background-color: var(--gris-lightmode);
    color: black;
}

.btn-danger {
    background-color: var(--gris-darkmode);
    color: white;
}

.btn-danger:hover {
    background-color: var(--gris-oscuro-pixplore);
}

.btn-danger2 {
    background-color: white;
    color: black;
}
  
.btn-danger2:hover {
    background-color: var(--gris-pixplore);
    color: white;
}

.btn-secondary{
    background-color: var(--gris-lightmode);
    color: black;
}

.eliminar-footer .btn-secondary:hover{
    background-color: var(--verde-pixplore);
    color: var(--negro-pixplore);
}

.crear-footer .btn-secondary:hover,
.editar-footer .btn-secondary:hover{
    background-color: var(--gris-darkmode);
    color: white;
}

/* Listas de categorías */

.list-group-item {
    justify-content: space-between;
    font-family: "Pixelify-Sans";
    font-size: 16px;
    color: white;
    padding-inline: 15px;
    padding-block: 10px;
}

.list-group-item span{
    display: flex;
}

.list-group-item button {
    margin-left: 10px;
}

.categoria-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el título y la descripción */
}

.categoria-info strong {
    font-size: 18px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.categoria-info strong::after{
    content: ":";
}

.categoria-info p {
    font-size: 16px;
    color: var(--gris-lightmode);
    text-align: start;
    margin-bottom: 0;
    max-width: 78%;
    word-wrap: break-word;
}

/* Botón agregar categoría */
.agregar-elemento{
    background-color: white;
    padding-inline: 10px;
    padding-block: 3px;
    text-decoration: none;
    color: var(--negro-pixplore);
    font-family: "Pixelify-Sans";
    font-size: 18px;
    height: fit-content;
    min-width: 30px;
    width: max-content;
    margin-left: 15px;
    transition: 0.15s ease;
}
  
.agregar-elemento.boton-pixel-corners::after,
.agregar-elemento.boton-pixel-corners--wrapper::after{
    background: white;
}

.agregar-elemento:hover,
.agregar-elemento:hover.boton-pixel-corners::after,
.agregar-elemento:hover.boton-pixel-corners--wrapper::after{
    background-color: var(--verde-pixplore);
}

.agregar-elemento button{
    background-color: transparent;
    border: none;
    display: none;
    transition: 0.15s ease;
}

.agregar-elemento:hover button{
    display: contents;
}
  
.tabla-categorias-pixel-corners,
.tabla-categorias-pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 3px),
    3px calc(100% - 3px),
    3px 100%,
    calc(100% - 3px) 100%,
    calc(100% - 3px) calc(100% - 3px),
    100% calc(100% - 3px),
    100% 3px,
    calc(100% - 3px) 3px,
    calc(100% - 3px) 0px,
    3px 0px,
    3px 3px,
    0px 3px);
  position: relative;
}

.tabla-categorias-pixel-corners {
  border: 3px solid transparent;
}

.tabla-categorias-pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}

.tabla-categorias-pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(3px 3px,
    calc(100% - 3px) 3px,
    calc(100% - 3px) calc(100% - 3px),
    3px calc(100% - 3px));
}

.tabla-categorias-pixel-corners::after,
.tabla-categorias-pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 3px),
    3px calc(100% - 3px),
    3px 100%,
    calc(100% - 3px) 100%,
    calc(100% - 3px) calc(100% - 3px),
    100% calc(100% - 3px),
    100% 3px,
    calc(100% - 3px) 3px,
    calc(100% - 3px) 0px,
    3px 0px,
    3px 3px,
    0px 3px,
    0px 50%,
    3px 50%,
    3px 3px,
    calc(100% - 3px) 3px,
    calc(100% - 3px) calc(100% - 3px),
    3px calc(100% - 3px),
    3px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--gris-darkmode);
  display: block;
  pointer-events: none;
}
.tabla-categorias-pixel-corners::after {
  margin: -3px;
}

/* Estilo general de los modales */
.modal-eliminar-cate .modal-header,
.modal-crear-cate .modal-header,
.modal-editar-cate .modal-header {
    border-bottom: 2px solid var(--verde-pixplore);
    background-color: var(--gris-oscuro-pixplore);
}

.post-pixel-corners,
.post-pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
  border: 8px solid var(--verde-pixplore);
  background-color: var(--verde-pixplore);
}

.post-pixel-corners {
  overflow: hidden;
  border: 4px solid transparent;
}

.post-pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}

.post-pixel-corners--wrapper .post-pixel-corners {
  display: block;
  clip-path: polygon(4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px));
}

.post-pixel-corners::after,
.post-pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    4px 50%,
    4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--verde-pixplore);
  display: block;
  pointer-events: none;
}

.post-pixel-corners::after {
  margin: -4px;
}

.post-pixel-corners{
  width: 100%;
}

.eliminar-content,
.crear-content,
.editar-content{
    background-color: var(--gris-pixplore);
    color: white;
}

/* Estilo del título */

.eliminar-header,
.crear-header,
.editar-header{
    font-family: "Pixelify-Sans";
    color:var(--verde-pixplore);
    background-color: var(--gris-oscuro-pixplore);
    border-bottom: 1px solid var(--verde-pixplore);
}

.eliminar-header button,
.crear-header button,
.editar-header button{
    margin-top: 0;
}

.eliminar-body,
.crear-body,
.editar-body {
    display: flex;
    flex-direction: column;
}

.input-rb{
    display: flex;
    justify-content: space-between;
}

label[for=""]{
  color: white;
  font-family: "Pixelify-Sans";
  font-size: 18px;
}

input.cuadro-txt,
textarea.cuadro-txt{
  font-family: "Handjet";
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 1px;
  padding: 2px 8px;
  border: none;
  margin-bottom: 5px;
  outline: none;
  width: 100%;
}

label[for="RBF"],
label[for="RBO"]{
    font-family: "Handjet";
    font-size: 18px;
    font-weight: 500;
    color: var(--gris-lightmode);
    letter-spacing: 1px;
}

.subcategoria:checked{
    margin-top: 5px;
    background-color: var(--verde-pixplore);
    border: none;
    outline: none;
}

.eliminar-footer,
.crear-footer,
.editar-footer{
    font-family: "Pixelify-Sans";
    font-size: 20px;
    border-top: 1px solid var(--verde-pixplore);
    gap: 5px;
}

.eliminar-footer button,
.crear-footer button,
.editar-footer button {
    padding-inline: 12px;
    border: none;
    transition: 0.3s all ease;
}

.modal-editar-cate .modal-footer button:hover,
.modal-crear-cate .modal-footer button:hover,
.modal-editar-cate .modal-footer button:hover {
    background-color: var(--verde-pixplore);
}

/* Modales para desactivar elementos */

.eliminar-body p {
    font-size: 18px;
    font-family: "Handjet";
}